<!doctype html>

{% if name %}
    <title>[ Running on {{ name }} - version 2.0 ]</title>
{% else %}
    <title>[ Assembly Lane ]</title>
{% endif %}

<body style="background: {{ color }};">
<div style="color: #e4e4e4; text-align:  center; height: 90px; vertical-align:  middle;">

{% if name %}
    <h1>[ Running on {{ name }} ]</h1>
{% else %}
    <h1>[ Assembly Lane ]</h1>
{% endif %}

{% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
{% endif %}
</div>

<div>
    <center><img src="/static/assembly_lane.jpg" alt="Assembly Lane" height="240px" width="600px"></center>
</div>
<div style="color: #e4e4e4; text-align:  center; height: 90px; vertical-align:  middle;">
    <center><h3>[ Application Version: 2.0 ]</h13></center>
</div>       
<div>
    <center><img src="/static/assembly_lane.jpg" alt="Assembly Lane" height="240px" width="600px"></center>
</div>
</body>